/* Font stacks*/

// $font-url-google: https://fonts.googleapis.com/css?family=$font-url-google;
$font-family-heading: sans-serif;
$font-family-body: sans-serif;

/* Font weights */

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Text */

$font-base-size: 16px;
$font-line-height: 1.6;
